<?xml version="1.0"?>
<robot name="office_scene" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find picknik_accessories)/descriptions/furniture/cabinet/cabinet.urdf.xacro"/>
  <xacro:include filename="$(find picknik_accessories)/descriptions/furniture/switch_panel/switch_panel.urdf.xacro"/>

  <!-- Environment -->
  <link name="world"/>

  <xacro:picknik_switch_panel parent="world" >
    <origin xyz="0.8 0.0 0" rpy="0 0 2.7"/>
  </xacro:picknik_switch_panel>

</robot>
